{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            ">0.20%",
            "ie 10"
          ]
        }
      }
    ]
  ]
}
